{% extends 'home/base.html' %}

{% block head %}
    {% load static %}
    <link href="{% static 'forum/style_detail.css' %}" rel="stylesheet" >
{% endblock %}

{% block body %}
<div class="box center">
  <div class="container">
    <div class="post-main">
      <div class="post-author-icon post-column center">
        <img class="rounded-circle post-image" src="{{ object.author.image.url }}">
      </div>
      <div class="post-name post-column">
        <div class="post-author post-row">
          <h1>{{ object.name }}</h1>
        </div>
        <div class="post-stats post-row">
          <p><a href="#">{{ object.author }}</a> - {{ object.start_date }}</p>
        </div>
        <div class="post-content post-row">
          <p>{{ object.context }}</p>
        </div>
      </div>
    </div>
    <div class="post-header center">
      <h1>Answers</h1>
    </div>
    {% if not object.comments.all %}
      <h1> No comments yet </h1>
    {% else %}
      {% for comment in object.comments.all %}
        <div class="post-main">
          <div class="post-author-icon post-column center">
            <img class="rounded-circle post-image" src="{{ comment.author.image.url }}">
          </div>
          <div class="post-name post-column">
            <div class="post-stats post-row">
              <p><a href="#">{{ comment.author }}</a> - {{ comment.start_date }}</p>
            </div>
            <div class="post-content post-row">
              <p>{{ comment.context }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="add-comment">
      <form method="POST">
        {% csrf_token %}
        <div class="form-post-comment">
            <textarea name="context" cols="40" rows="10" class="form-control" placeholder="Details of Question" maxlength="1000" required="" id="id_context"></textarea>
        </div>
        <div class="form-post-button">
            <button class="btn">Add Question</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
