{% extends 'home/base.html' %}

{% block head %}
    {% load static %}
    <link href="{% static 'forum/style.css' %}" rel="stylesheet" >
{% endblock %}
{% block body %}
<div class="box">
    <div class="forum">
        <div class="post-header">
            {% if user.is_authenticated %}
            <div class="post-header-button post-column center">
                <a href="{% url 'forum:add' %}" class="btn" tabindex="-1" role="button" aria-disabled="true">Ask Somethink</a>
            </div>
            {% else %}
            <div class="post-header-author post-column center">
                <h1>Sign in to Post</h1>
            </div>
            {% endif %}
            <div class="post-header-author post-column center">
                <h1>Question - Content</h1>
            </div>
            <div class="post-header-stats post-column center">
                <h1>Stats</h1>
            </div>
            <div class="post-header-date post-column center">
                <h1>Info</h1>
            </div>
        </div>
    {% for object in object_list %}
    <hr class="post-divider">
        <div class="post">
            <div class="post-author-icon post-column center">
                <img class="rounded-circle post-image" src="{{ object.author.image.url }}">
            </div>
            <div class="post-name post-column">
                <div class="post-author">
                    <a href="{% url 'forum:detail' object.id %}"><h1>{{ object.name }}</h1></a>
                </div>
                <div class="post-content">
                    <p>{{ object.context }}</p>
                </div>
            </div>
            <div class="post-stats post-column center">
                <span>24 answers</span>
            </div>
            <div class="post-info post-column">
                Posted by <a href="#">{{ object.author }}</a>
                <br>
                {{ object.start_date }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}