{% extends 'home/base.html' %}

{% block head %}
    {% load static %}
    <link href="{% static 'training/style.css' %}" rel="stylesheet" >
{% endblock %}
{% block body %}
<div class="box">
    {% for object in object_list %}
        <div class="training-box">
            <div class="training-picture">
                <img class="picture" src="{{ object.image.url }}">
            </div>
            <div class="training-grid">
                <div class="author-picture">
                    <img class="profile-picture rounded-circle" src="{{ object.author.profile.image.url }}">
                </div>
                <div class="training-info">
                    <div class="training-title">
                        <h1><a href="#">{{ object.name }}</a></h1>
                    </div>
                    <div class="training-author">
                        <a href="{% url 'login:login' %}" class="btn button-author" tabindex="-1" role="button" aria-disabled="true">{{ object.author }}</a>
                    </div>
                    <p class="training-date">
                        {{ object.date }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}